<!-- views/partrials/beer.ejs -->


<div><img src="<%= beer.image_url %>" alt="beer image" style="height:200px;"></div>
<div>
    <h3><a href="/beers/<%- beer.id %>"><%- beer.name %></a></h3>
    <p class="tagline"><%- beer.tagline %></p>
    <p><%- beer.description %></p>
</div>   